#jinja2:trim_blocks: True, lstrip_blocks: True
apiVersion: v1
type: kubernetes.io/dockerconfigjson
kind: Secret
metadata:
  name: assisted-deployment-pull-secret
  namespace:  {{ cluster_name }}
data:
  .dockerconfigjson: '{{ (local_pull_secret | default(pull_secret)) | to_json | b64encode }}'
