#jinja2:trim_blocks: True, lstrip_blocks: True
{% for node_name in node_names %}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{cluster_name }}-{{ node_name }}-bmc-secret
  namespace: {{ cluster_name }}
type: Opaque
data:
  password: {{ hostvars[node_name]['bmc_password'] | b64encode }}
  username: {{ hostvars[node_name]['bmc_user'] | b64encode }}
{% endfor %}
---
