#jinja2:trim_blocks: True, lstrip_blocks: True
apiVersion: agent-install.openshift.io/v1beta1
kind: InfraEnv
metadata:
  name: {{ cluster_name }}
  namespace: {{ cluster_name }}
spec:
  clusterRef:
    name: {{ cluster_name }}
    namespace: {{ cluster_name }}
  sshAuthorizedKey: {{ ssh_public_key }}
  additionalNTPSources:
    - {{ ntp_server }}
  nmStateConfigLabelSelector:
    matchLabels:
      cluster-name: {{ cluster_name }}
  pullSecretRef:
    name: assisted-deployment-pull-secret
