#jinja2:trim_blocks: True, lstrip_blocks: True
apiVersion: v1alpha1
kind: AgentConfig
metadata:
  labels:
    cluster-name: {{ cluster_name }}
{% if billi_bootstrap_node is defined %}
rendezvousIP: {{ hostvars[billi_bootstrap_node]['ansible_host'] }}
{% endif %}
hosts:
{% for hostname, network_config in static_network_config.items() %}
  - role: {{ hostvars[hostname]['role'] }}
    hostname: {{ hostname }}
    interfaces:
      - name: {{ network_config.mac_interface_map[0].logical_nic_name }}
        macAddress: {{ network_config.mac_interface_map[0].mac_address }}
  {% if hostvars[hostname]['installation_disk_path'] is defined %}
    rootDeviceHints:
      deviceName: {{ hostvars[hostname]['installation_disk_path'] }}
  {% endif %}
{% endfor %}
