apiVersion: agent-install.openshift.io/v1beta1
kind: InfraEnv
metadata:
  name: {{ cluster_name }}-infraenv
  namespace: cluster0
spec:
  clusterRef:
    name: {{ cluster_name }}
    namespace: cluster0
  pullSecretRef:
    name: pull-secret
  sshAuthorizedKey: {{ ssh_public_key }}
  additionalNTPSources:
    - {{ ntp_server }}
  nmStateConfigLabelSelector:
    matchLabels:
      {# cluster-name: {{ cluster_name }} #}
      infraenvs.agent-install.openshift.io: ""
